@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


.navbar-brand{
    font-family: 'Black Han Sans', sans-serif;
}
/* Main section */

.imgBanner{
    width: 1280px; 
    height: 500px; 
    object-fit: cover;
}


/* Sección ventajas */

.sectionVentajas{
    background-color: #f8f9fa;
}

.card-header{
    background: none;
}

.cardVentajas{
    border:none;
    box-shadow: 0px 0px 15px gray;
}
/* sección seguridad */

.sectionSeguridad{
    background-color: #f8f9fa;
}

.card-header{
    background: none;
}
.cardSeguridad{
    border:none;
    background-color: #f8f9fa;
}

.imgPhone{
    width: 75%;
}


/* Estilos seccion APP */

/* @media screen and (orientation: portrait) and (max-width: 320px) {
    * {
      margin: 0;
      padding: 0;
    } */

/* Estilos del footer */

.contenedorIconos{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.fa-brands{
    margin-left: 10px;
    margin-right: 1px;
}

.botonFooter{
    background-image: url(../img/badge-apple-store.svg);
}


/* Página Precios */

/* Sección Precios */

.sectionPrecios{
    background-color: #f8f9fa;
}

/* Página Seguridad */

/* Sección Precios */

.sectionSeguridad{
    background-color: #f8f9fa;
}

.sectionTips{
    background-color: #f8f9fa;
}